.main-footer{
    padding-top: 100px;
    padding-bottom: 68px;
    .media-max(650px, {
		padding-top: 50px;
    });
    &__wrap{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

.contacts{
    .size(3.5);
    margin-bottom: 20px;
    .media-max(720px, {
        .size(12);
    });
    &__h{
        padding-top: 50px;
        text-align-last: left;
        margin-bottom: 70px;
        .media-max(1100px, {
            font-size: 40px;
        });
        .media-max(950px, {
            font-size: 36px;
        });
    }
    &__entry{
        margin: 0;
        margin-bottom: 20px;
        &_time{
            padding-left: 20px;
            background-position: left center;
            background-size: 13px 13px;
            background-repeat: no-repeat;
            background-image: url(../img/icons/ico_time.svg);
        }
    }
    &__socials{
        padding: 0;
        margin-top: 50px;
        list-style: none;
        display: flex;
    }
    &__social{
        &:hover path,
        &:focus path{
            fill: @colorMain;
        }
    }
    &__item{
        & + &{
            margin-left: 15px;
        }
        &_fb{
            width: 15px;
        }
        &_insta{
            width: 30px;
        }
    }
    &__link{
        color: #000;
        display: block;
        padding-left: 20px;
        background-position: left center;
        background-size: 13px 13px;
        background-repeat: no-repeat;
        &_position{
            background-image: url(../img/icons/ico-adress.svg);
        }
        &_phone{
            background-image: url(../img/icons/ico-phone.svg);
        }
        &_email{
            background-image: url(../img/icons/ico-email.svg);
        }
    }
}

.map{
    .size(8);
    .media-max(720px, {
        .size(12);
    });
    position: relative;
    iframe{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        bottom: 0;
    }
    &__link{
        display: block;
    }
    .copyright{
        position: absolute;
        bottom: -60px;
    }
}

.modal-overlay{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.7);

    &__close{
        padding: 0;
        position: absolute;
        top: 3%;
        right: 9.7%;
        .btn-reset();
        @size: 25px;
        width: @size;
        height: @size;
        &::before,
        &::after{
            content: '';
            display: block;
            position: absolute;
            border-bottom: 2px solid #fff;
            top: 50%;
            margin-top: -1px;
            width: 100%;
        }
        &::before{
            transform: rotate(45deg);
        }
        &::after{
            transform: rotate(-45deg);
        }
    }
    &.active{
        display: block;
    }
}

.modal{
    display: none;
    padding: 10px;
    width: 97%;
    max-width: 955px;
    position: absolute;
    background-color: #fff;
    border-radius: 4px;
    min-height: 50%;
    max-height: 95%;
    overflow-y: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &.active{
        display: block;
    }
}

.modal-form{
    padding-top: 90px;
    padding-bottom: 90px;
    &__h{
        margin-bottom: 25px;
    }
    &__text{
        color: #555;
        font-size: 14px;
        text-align: center;
        width: 220px;
        margin: 0 auto;
        margin-bottom: 36px;
    }
    &__input{
        display: block;
        border: none;
        border-bottom: 1px solid #000;
        padding: 5px 15px;
        margin: 0 auto;
        width: 75%;
        max-width: 320px;
    }
    &__item{
        margin: 0;
        margin-bottom: 15px;
    }
    &__btn{
        .btn-reset();
        display: block;
		height: 58px;
		font-weight: @fontSBold;
		padding-left: 55px;
		padding-right: 55px;
		border-radius: 28.5px;
        padding: 0;
        color: #fff;
        background-color: @colorMain;
        border: none;
        width: 215px;
        margin: 0 auto;
        margin-top: 55px;
        line-height: 58px;
        box-shadow: 0px 7px 21px 0px rgba(55, 125, 60, 0.3); 
        &:hover{
            background-color: @colorHLine;
        }
    }
}

.modal-video{
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 5%;
    padding-right: 5%;
    min-height: unset;
}

.modal-alert{
    padding-top: 190px;
    padding-bottom: 130px;
    &_ok{
        background-repeat: no-repeat;
        background-size: 60px 60px;
        background-position: center 100px;
        background-image: url(../img/icons/noun_Ok_108699.svg);
    }
    &__h{
        margin: 0;
        margin-bottom: 32px;
    }
    &__text{
        margin: 0 auto;
        color: #555;
        font-size: 14px;
        text-align: center;
        width: 300px;
    }
}

.video-container{
    width: 100%;
    &__wrap{
        padding-top: 56.25%;
        position: relative;
        iframe{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
        }
    }
}

.preloader{
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    animation-name: allObjects;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 7s;
    &::before,
    &::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #fff;
        top: 0;
        z-index: 2;
        animation-delay: 6s;
        animation-fill-mode: forwards;
        animation-duration: 1s;
    }
    &::before{
        left: 0;
        animation-name: wallLeft;
    }
    &::after{
        right: 0;
        animation-name: wallRight;
    }
    &__logo{
        display: block;
        position: absolute;
        opacity: 0;
        top: 50%;
        left: 50%;
        max-width: 250px;
        transform: translate(-50%, -50%);
        margin-top: 50px;
        z-index: 4;
        animation: logo 1s;
        animation-delay: 3s;
        animation-fill-mode: forwards;
    }
    svg{
        position: absolute;
        z-index: 3;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 60vw;
        min-width: 300px;
        height: auto;
    }
    .bg{
        fill: none;
    }
    .cup{
        fill: none;
        stroke: #000;
        stroke-width: 2;
        stroke-dashoffset: 671.36;
        stroke-dasharray: 671.36;
        animation-name: draw;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        animation-delay: 1s;
    }
    .liquid{
        fill: #351f02;
        stroke: none;
        transform: translateY(100%);
        animation: fillCoffee 1s;
        animation-delay: 3s;
        animation-fill-mode: forwards;
    }
    .steam{
        fill: none;
        stroke: #000;
        stroke-width: 2;
        stroke-dashoffset: 192.47;
        stroke-dasharray: 192.47;
        animation-name: draw;
        animation-duration: 2s;
        animation-delay: 4s;
        animation-fill-mode: forwards;
    }
    .sleeve{
        stroke: #000;
        stroke-width: 1;
        fill: @colorMain;
        stroke-dashoffset: 453.58;
        stroke-dasharray: 453.58;
        animation-name: draw, fillGreen;
        animation-duration: 1s, 1s;
        animation-fill-mode: forwards;
    }
    .lid{
        stroke: #000;
        stroke-width: 2;
        fill: @colorMain;
        stroke-dashoffset: 431.62;
        stroke-dasharray: 431.62;
        animation-name: draw, fillGreen;
        animation-duration: 1s, 1s;
        animation-fill-mode: forwards;
    }
}

@keyframes draw{
    to{
        stroke-dashoffset: 0; 
    }
}

@keyframes fillGreen{
    from{
        fill: #fff;
    }
    to{
        fill: @colorMain;
    }
}

@keyframes fillCoffee{
    to{
        transform: translateY(5%);
    }
}

@keyframes logo{
    from{
        transform: translate(-50%, -50%) scale(0.5);
        opacity: 0;
    }
    to{
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes wallLeft{
    from{
        left: 0;
        opacity: 1;
    }
    to{
        transform: translateX(-100%);
        opacity: 0;
    }
}

@keyframes wallRight{
    from{
        right: 0;
        opacity: 1;
    }
    to{
        transform: translateX(100%);
        opacity: 0;
    }
}

@keyframes allObjects{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
        height: 0;
    }
}