@import 'libs/smart-grid.less';
@import 'libs/vars.less';
@import 'libs/mixins.less';
@import '_header.less';

/* Set defaults */

.reset();

html,
body{
	box-sizing: border-box;
}

*,
*:before,
*:after{
	box-sizing: inherit;
}

body{
	font-family: 'Montserrat', 'Arial', sans-serif;
	max-width: 1920px;
	margin: 0 auto;
	font-size: 16px;
	font-weight: @fontNormal;
	line-height: 1.5;
}


::-webkit-scrollbar{
	width: 7px;
	height: 5px;
	background-color: #eee;
}

::-webkit-scrollbar-thumb{
	border-radius: 2px;
	background-color: @colorMain;
}

.ul-reset{
	list-style: none;
}

.input{
	font: inherit;
	appearance: none;
	opacity: 1;
	transition: @transT;
	&:focus{
		outline: none;
		box-shadow: 1px 1px 30px 1px rgba(60,86,166, 0.3);
	}
}

img,
video{
	max-width: 100%;
	height: auto;
}

a{
	text-decoration: none;
}

/* Atomic */

.d-n{
	display: none;
}

.d-b{
	display: block;
}

.d-f{
	display: flex;
}

.ttu{
	text-transform: uppercase;
}

.ta-c{
	text-align: center;
}

.ov-h{
	overflow: hidden;
}

.ov-s{
	overflow: scroll;
}

.black{
	color: #000;
}

/* Global */

.wrapper{
	.wrapper();
}

.row{
	.row-flex();
}

.col{
	.col();
}

.sr-only{
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.main-heading{
	font-size: 48px;
	margin: 0;
	text-align: center;
	line-height: 1.1;
}

/* General */

.banner{
	padding-top: 190px;
	padding-bottom: 265px;
	background-image: url(../img/first-screen-bg.jpg);
	background-size: cover;
	background-position: center;

	&__text{
		font-size: 90px;
		.size(7);
		line-height: 1.2;
		margin: 0;
		margin-bottom: 41px;
	}

	&__btn{
		.btn-reset();
		height: 58px;
		font-weight: @fontSBold;
		padding-left: 55px;
		padding-right: 55px;
		border-radius: 28.5px;
		vertical-align: bottom;
		transition: @transT;

		&_colored{
			box-shadow: 0px 7px 21px 0px rgba(55, 125, 60, 0.3);
			background-color: @colorMain;
			color: #fff;
			&:hover{
				background-color: @colorHLine;
			}
		}

		&_trans{
			margin-left: 18px;
			border: 2px solid @colorHLine;
			&:hover{
				background-color: @colorHLine;
				color: #fff;
			}
		}
	}
}

.menu{
	padding-top: 180px;
	padding-bottom: 84px;

	&__h{
		margin-bottom: 44px;
	}

	&__text{
		width: 50%;
		text-align: center;
		margin: 0 auto;
		font-size: 14px;
		color: @colorTGraySection;
		margin-bottom: 50px;
	}

	&__tabs{
		margin-bottom: 40px;
	}
}

.tabs{
	display: flex;
	justify-content: center;
	align-items: baseline;
	padding: 0;

	&__item{
		@offset: 4px;
		padding-left: @offset;
		padding-right: @offset;

		& + &{
			margin-left: 60px;
		}

		&.active,
		&:hover{
			border-bottom: 2px solid @colorHLine;
			a {
				color: @colorMain;
			}
		}
	}

	&__link{
		color: #000;
		font-weight: @fontSBold;
	}
}

.tabs-content{

	&__section{
		display: none;
		&.active{
			display: block;
		}
	}

	&__wrap{
		.row-flex();
		.xs-block({
			justify-content: center;
		});
	}
}

.product{
	.col();
	.size(3);
	.size-md(4);
	.size-sm(6);
	.size-xs(10);
	margin-bottom: 20px;
	text-align: center;

	&__pic{
		margin-bottom: 26px;
		width: 100%;
	}

	&__name{
		margin: 0;
		margin-bottom: 13px;
		font-size: 16px;
	}

	&__price{
		font-weight: @fontBold;
		color: @colorMain;
	}
}

.about{
	padding-top: 84px;
	padding-bottom: 108px;
	.clearfix();

	&__h{
		text-align: left;
	}

	&__slider{
		float: left;
	}
}

.coffee-slider{
	width: 50%;
	padding-right: @offset;
	&__slide{
		&:last-child{
			display: none;
		}
	}

	&__container{
		margin-bottom: 10px;
	}

	&__btns{
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin: 0;
		margin-left: auto;
	}

	&__btn{
		width: 30px;
		.btn-reset();
		path{
			fill: @colorMain;
		}

		&_prev{
			transform: rotate(-180deg) translateY(1px);
		}
	}
}
