<footer id="contacts" class="animate animate__fadeInUp main-footer">
    <div class="wrapper main-footer__wrap">
        <section class="contacts">
            <h2 class="animate animate__fadeInUp main-heading contacts__h">Come to us</h2>
            <p aria-label="Working time: 8 to 23" class="animate animate__fadeInUp contacts__entry contacts__entry_time">
                8:00 - 23:00
            </p>
            <p class="animate animate__fadeInUp contacts__entry">
                <a 
                    target="_blank" 
                    rel="noropener noreferref" 
                    href="https://www.google.com.ua/maps/place/Fujiwara+Yoshi/@50.4231798,30.474227,15.52z/data=!4m5!3m4!1s0x40d4cec69e555a1b:0x4a65074e2258db93!8m2!3d50.4250274!4d30.4782468" 
                    class="contacts__link contacts__link_position"
                >
                    9532 W Linebaugh Ave, Tampa
                </a>
            </p>
            <p class="animate animate__fadeInUp contacts__entry">
                <a href="tel:+12538675413" class="contacts__link contacts__link_phone">
                    +1 253 867-54-13
                </a>
            </p>
            <p class="animate animate__fadeInUp contacts__entry">
                <a href="mailto:coffeeplanet@mail.com" class="contacts__link contacts__link_email">
                    coffeeplanet@mail.com
                </a>
            </p>
            <ul class="animate animate__fadeInUp contacts__socials">
                <li class="contacts__item contacts__item_fb">
                    <a 
                        target="_blank" 
                        rel="noropener noreferref" 
                        href="https://facebook.com/" 
                        class="contacts__social"
                        aria-label="Our page at facebook"
                    >
                        {% include './svgo/ico-FB.svg' %}
                    </a>
                </li>
                <li class="contacts__item contacts__item_insta">
                    <a 
                        target="_blank" 
                        rel="noropener noreferref" 
                        href="https://instagram.com/" 
                        class="contacts__social"
                        aria-label="Our page at instagram"
                    >
                        {% include './svgo/iconfinder_Instagram_1298747.svg' %}
                    </a>
                </li>
            </ul>
        </section>
        <div class="animate animate__fadeInUp map">
            <a 
                target="_blank"
                href="https://www.google.com.ua/maps/place/Fujiwara+Yoshi/@50.4231798,30.474227,15.52z/data=!4m5!3m4!1s0x40d4cec69e555a1b:0x4a65074e2258db93!8m2!3d50.4250274!4d30.4782468" 
                class="map__link"
                rel="noropener noreferref"
            >
                <img class="map__img" src="img/map.jpg" alt="Our address 9532 W Linebaugh Ave, Tampa">
            </a>
            <iframe 
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10167.847962924385!2d30.474227!3d50.4231798!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cec69e555a1b%3A0x4a65074e2258db93!2sFujiwara%20Yoshi!5e0!3m2!1sru!2sua!4v1599161295234!5m2!1sru!2sua" 
                width="600"
                frameborder="0" 
                style="border:0;" 
                allowfullscreen="" 
                aria-hidden="false" 
                tabindex="0"
            >
            </iframe>
            <p class="copyright">
                Copyright 2019 CoffeePlanet
            </p>
        </div>
    </div>
</footer>


<div class="animate__fadeIn modal-overlay">
    <div id="modal-form" class="animate__fadeIn modal modal-form">
        <h2 class="modal-form__h main-heading">
            Book a table
        </h2>
        <p class="modal-form__text">
            Leave your phone number and we will contact you
        </p>
        <form class="modal-form__form" action="#">
            <p class="modal-form__item">
                <input aria-label="Enter your name" type="text" class="modal-form__input" placeholder="Name">
            </p>
            <p class="modal-form__item">
                <input aria-label="Enter your phone" type="text" class="modal-form__input" placeholder="Phone">
            </p>
            <button type="submit" class="modal-form__btn">Send</button>
        </form>
    </div>
    <div id="modal-video" class="animate__fadeIn modal modal-video">
        <h2 class="sr-only">Watch a video</h2>
        <div class="video-container">
            <div class="video-container__wrap">
                <iframe 
                    width="560" 
                    height="315" 
                    src="https://www.youtube.com/embed/r4IBsnErqYI" 
                    frameborder="0" 
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                    allowfullscreen
                >
                </iframe>
            </div>
        </div>
    </div>
    <div id="modal-alert" class="animate__fadeIn modal modal-alert modal-alert_ok">
        <h2 class="main-heading modal-alert__h">Thank you!</h2>
        <p class="modal-alert__text">
            We will contact you as soon as possible
        </p>
    </div>
    <button aria-label="Close a modal window" class="modal-overlay__close"></button>
</div>

<div class="preloader">
    {% include './svgo/coffee-cup.svg' %}
    <img class="preloader__logo" src="img/logo.png" alt="Logotype of CoffeePlanet">
</div>

<script src="./js/js.js"></script>
</body>
</html>